<html ng-app="mainApp">
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    </head>
<body>
  
<div  ng-controller="logincontroller" >
    
   <div >
                <input ng-model="email"   autocomplete="off"placeholder="Enter your Email">
                
            </div>
            <div >
                <button type="submit" >
               submit
                </button>
                <button type="submit" ><a ng-href="login.html">
                  cancel</a>
                </button>
               
            </div>